{
  "extends": ["react-app", "react-app/jest"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "react-hooks/exhaustive-deps": "off",
    "import/no-anonymous-default-export": "off"
  }
}
